<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.zafodB.PhoToDo">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:versionCode="2"
        android:versionName="1.1"

        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.zafodB.PhoToDo.ApplicationMain"
        >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.zafodB.PhoToDo.LoginScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.zafodB.PhoToDo.CreateAccountActivity"
            android:parentActivityName="com.zafodB.PhoToDo.LoginScreenActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zafodB.PhoToDo.NavDrawerActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.zafodB.PhoToDo.LoginScreenActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.zafodB.PhoToDo.GroupPick"
                  android:screenOrientation="portrait"/>

        <activity
            android:name="com.zafodB.PhoToDo.Feedback"
            android:parentActivityName="com.zafodB.PhoToDo.NavDrawerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zafodB.PhoToDo.Settings"
            android:parentActivityName="com.zafodB.PhoToDo.NavDrawerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            tools:replace = "android:theme"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.zafodB.PhoToDo.EditTaskActivity"
            android:parentActivityName="com.zafodB.PhoToDo.NavDrawerActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
